<<<<<<< HEAD
:root {
    --green-button-color: #35BC55;
    --blue-button-color: #3570BC;
    --add-button-color: #74A15D;
    --dropdown-color: #7A84AC;
    --green-text: #00693B;
    --box-color: #D9D9D9;
    --table-background: #476842;
    --table-stroke: #68A640;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #C4C4C4;
}

.btn, input[type="text"], input[type="password"] {
    height: 30px;
    border: 0px;
    border-radius: 7px;
    padding: 2px;
}

.box {
    border: 0px;
    border-radius: 20px;
    background-color: var(--box-color);
}

select {
    border: 0px;
    border-radius: 10px;
    background-color: var(--dropdown-color);
}
=======
:root {
    --green-button-color: #35BC55;
    --blue-button-color: #3570BC;
    --add-button-color: #74A15D;
    --dropdown-color: #7A84AC;
    --green-text: #00693B;
    --box-color: #D9D9D9;
    --table-background: #476842;
    --table-stroke: #68A640;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #C4C4C4;
}

.btn, input[type="text"], input[type="password"] {
    height: 30px;
    border: 0px;
    border-radius: 7px;
    padding: 2px;
}

.box {
    border: 0px;
    border-radius: 20px;
    background-color: var(--box-color);
}

select {
    border: 0px;
    border-radius: 10px;
    background-color: var(--dropdown-color);
}
>>>>>>> 29117f52e4cf377569b6e6d0fe975986e375bb66
