body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #dcdcdc;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.back-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #2a7a38;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.profile-card {
    background: white;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 1000px;
}

.profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #2a7a38;
    margin-right: 20px;
}

.profile-text {
    font-size: 14px;
    line-height: 18px;
}

#year-container{
    display: flex;
    align-items: right;
    margin-right:40px;
}
.year-select {
    margin-left: auto;
    margin-right: 20px;
    font-size: 14px;
    background: white;
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #999;
    cursor: pointer;
}

.container {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
    gap: 80px;
}

.card {
    background: white;
    height: 140px;
    border-radius: 10px;
    padding: 15px;  
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}