body{
    background-color: #C4C4C4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #35BC55;
}

#container{
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 70px;
    justify-content:flex-start;
    align-items: center;
    position: relative;
    z-index: 0;
}

#container p{
    padding: 10px;
    display: flex;
    justify-content:flex-start;
    align-items: end;
    background-color: #D9D9D9;
    width: 150px;
    height: 100px;
    border-radius: 20px;
}

#btnBack{
    position: absolute;
    top: 0px;              
    left: 5px;         
    font-size: 30px;
}

#uploadMatkul{
    background-color: #5c6db1;
    border-style: none;
    color: white;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    margin-top: 180px;
    margin-left: -490px;
    width: 200px;
    height: 40px;
}

#simpan{
    background-color: #35BC55;
    border-style: none;
    color: white;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 40px;
    margin-top: 180px;
    margin-left: -260px;
}

select{
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    margin-top: -200px;
    margin-left: 1200px;
    width: 200px;
    height: 40px;
}